body {
  font: 11px sans-serif;
  font-weight: 400;
  text-align: center;
  //background: #202020;
  color: #ff0000;
  font-family: 'Montserrat', sans-serif;
}

h1 {
  font-weight: 300;
  color: #ffffff;
  font-size: 18px;
  margin: 25px 0px 25px 0px;
  padding: 0;
  text-transform: uppercase;
  font-weight: 700;
}

h2 {
  font-weight: 400;
  font-size: 14px;
  margin-bottom: 20px;
}

.axis path,
.axis line {
  fill: none;
  stroke: #fff;
  shape-rendering: crispEdges;
}

.dot {
  stroke: none;
}

.tooltip {
  background: #fff;
  color: #202020;
  border-radius: 5px;
  position: absolute;
  padding: 10px;
  pointer-events: none;
  text-align: left;
  opacity: .25;
}

.scatterplot {
  float: left;
}

.team-information {
  float: left;
  margin: 0px 0px 0px 50px;
  width: 250px;
  height: 225px;
  background: #404040;
  color: #fff;
}

.wrap {
  width: 1050px;
  margin-left: 50px;
  margin-right: 50px;
}

table {
  width: 85%;
  margin: 0 auto 0;
  text-align: left;
}

 svg {
   font: 10px sans-serif;
 }

.background path {
  fill: none;
  stroke: #ddd;
  shape-rendering: crispEdges;
}

.foreground path {
  fill: none;
  /*stroke: steelblue;*/
}

.brush .extent {
  fill-opacity: .3;
  stroke: #fff;
  shape-rendering: crispEdges;
}

.axis line,
.axis path {
  fill: none;
  stroke: #000;
  shape-rendering: crispEdges;
}

.axis text {
  text-shadow: 0 1px 0 #fff, 1px 0 0 #fff, 0 -1px 0 #fff, -1px 0 0 #fff;
  cursor: move;
}

.row > div {
  margin-top:10px;
  padding: 20px;
  outline: 2px solid #ccc;
  outline-offset: -10px;
  -moz-outline-radius: 10px;
  -webkit-outline-radius: 10px;
}